.manage-location-view-container {
    width: 100%;
    .header-row {
        #menuOptions {
            .md-btn--icon {
                height: 50px;
                width: 50px;
                border-radius: 0% !important;
            }
        }
        .editButton {
            float: right;
        }
    }
}

#editLocationForm {
    width: 800px;
    padding: 2rem;
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            text-transform: uppercase;
            color: #3f51b5;
        }
    }
    .manageLocationFields {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .md-text-field-container {
            width: 45%;
        }
        .md-layover {
            width: 45%;
            .md-text-field-container {
                width: 100% !important;
            }
        }
        hr {
            background: rgba(0, 0, 0, 0.12) !important;
        }
    }
    .btn-manage-actions {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 24px;
        }
    }
}

.word-wrap {
    word-wrap: normal;
}