.amount-editor-button-container {
    width: 250px;
    float: right;
    .edit-dialog {
        padding: 1rem 2rem 1rem 2rem;
        display: flex;
        position: absolute; // border: 1px solid #ffffff;
        flex-direction: column;
        background: white;
        z-index: 99;
        width: 250px;

        .btn-actions {
            padding-top: 1rem;
            display: inline;
        }
    }
}
