.info-view-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .md-text-field-container {
        width: 45%;
    }

    footer {
        margin-top: 24px;
        margin-bottom: 24px;
        button {
            margin-right: 24px;
            width: 250px;
        }
    }
}
