.bco-statement-container {
    width: 100%;
    margin-top: 0;
    .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .header-row {
        width: 100%;
        position: "relative";
        margin-top: 2rem;
        .md-btn--icon {
            border-radius: 0% !important;
            margin-right: 2rem;
        }
        .filter-btn {
            margin-right: 30px;
        }
    }
    .custom-filter-container {
        margin-top: 2rem;
        margin-left: 0;
        padding: 2rem 2rem 2rem 2rem;
        .search-button {
            margin-right: 2rem;
            margin-top: 2rem;
        }
        .col-2 {
            margin-right: 1rem;
        }
    }
}
.list-table-container {
    margin: 2rem 0 2rem 0;
}
#pdf-viewer-container {
    width: 80%;
    height: 50%;
}
.client-details-Panel {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .panel-tile {
        font-weight: 500;
        color: #3f51b5;
    }
}
.word-wrap {
    word-wrap: normal;
}
